.review-section{

    border: 2px solid lightgray;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(245, 234, 221);

}
.review-section:hover{
    background-color: bisque;
}


.review-section img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    
}