.hommy{
    margin-left: 20px;
}
.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.home img{
    width: 500px;
    height: 500px;
}
.review-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    text-align: start;
    
}